@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html {
  --color-crystal: theme(colors.crystal-secondary);
  --color-text: theme(colors.slate.800);
}

html.dark {
  --color-crystal: theme(colors.crystal-primary);
  --color-text: theme(colors.gray.200);
}


@layer base {
/*  * { */
/*   @apply focus:ring-2 focus:ring-offset-0 focus:ring-crystal focus:outline-none focus-visible:outline-none; */
/* } */

  html {
    @apply text-text text-sm;
  }

  th {
    @apply py-2 text-sm;
  }

  td {
    @apply py-2;
  }

  table a {
@apply text-crystal-primary;
  }


  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
  }

  div.filters-toolbar {
    @apply mb-2 px-3 py-2 flex flex-row sticky top-0 border border-slate-300 bg-slate-100 shadow-lg rounded-xl items-center dark:bg-gray-900 dark:border-gray-950 gap-2 z-10;
  }

p {
  @apply text-base;
}

div.transparent {
@apply bg-slate-200 bg-opacity-90 border-slate-300 dark:bg-gray-900 dark:bg-opacity-90 dark:border-gray-950;
}

  div.card {
    @apply w-full h-max border border-slate-300 dark:bg-gray-900 flex flex-col justify-start rounded-xl shadow-xl dark:border-gray-950;
  }

/* button { */
/*  @apply transition-all disabled:cursor-not-allowed rounded-lg   p-3 flex flex-row gap-2 items-center; */
/*   } */

button.ghost {
  @apply transition-all disabled:cursor-not-allowed rounded-lg text-sm p-2 flex flex-row gap-2 items-center;
  @apply hover:bg-slate-200 dark:hover:bg-gray-600;
}

  button.contrast {
    @apply hover:underline flex flex-row gap-2 transition-all;
  }

  button.solid {
@apply transition-all disabled:cursor-default rounded-lg p-2 flex flex-row gap-2 items-center;
    @apply disabled:opacity-40  border  shadow-md ;
    @apply bg-slate-100 border-slate-400 hover:bg-slate-200 disabled:hover:bg-slate-100;
    @apply dark:bg-gray-700 dark:border-gray-950 dark:hover:bg-gray-600 dark:disabled:hover:bg-gray-700;
  }

  button.menu-item {
@apply transition-all disabled:cursor-not-allowed rounded-lg   p-3 flex flex-row gap-2 items-center;
      @apply hover:bg-slate-200 w-full rounded-none dark:hover:bg-gray-600;
    }


  input.minimal {
    @apply bg-transparent border-b-2 border-slate-800 dark:border-gray-200 p-2 focus:border-crystal dark:focus:border-crystal focus-visible:outline-none transition-colors;
  }

  label {
      @apply inline-block;
    }

}
@layer utilities {
   .pause-animation {
     animation-play-state: paused;
   }
}
