@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html {
  --color-crystal: theme(colors.crystal-secondary);
  --color-text: theme(colors.slate.800);
}

html.dark {
  --color-crystal: theme(colors.crystal-primary);
  --color-text: theme(colors.gray.200);
}


@layer base {
 * {
  @apply focus:ring-2 focus:ring-offset-0 focus:ring-crystal focus:outline-none focus-visible:outline-none;
}

  html, label, p, input {
    @apply text-text;
  }

  svg {
    @apply text-text;
  }

  th {
    @apply py-3;
  }

  td {
    @apply py-2;
  }

  table a {
@apply text-crystal-primary;
  }


  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

button {
 @apply transition-all disabled:cursor-not-allowed rounded-lg   p-3 flex flex-row gap-2 items-center;
  }

button.ghost {
  @apply hover:bg-slate-200;
}

  button.solid {
    @apply disabled:opacity-40  bg-slate-100  border border-slate-400 hover:bg-slate-200  shadow-md dark:bg-gray-700 dark:border-gray-200 dark:hover:bg-gray-600;
  }

  button.menu-item {
      @apply hover:bg-slate-200 w-full rounded-none;
    }


  input.minimal {
    @apply bg-transparent border-b border-b-slate-800 p-2 focus:border-b-crystal focus-visible:outline-none transition-colors;
    @apply dark:border-b-gray-200;
  }

  label {
      @apply inline-block;
    }

  input[type='checkbox'] {
    @apply w-4 h-4 text-blue-600 border-gray-300 rounded;
  }

}
